.list{

	@include box-sizing(border-box);
	width:300px;
	position:relative;
	margin-right:30px;
	float:left;
	padding:0;
	background:rgba(255,255,255,.5);

	h2{
		font-size: rem( 14px );
		text-transform:uppercase;
		width:100%;
		text-align:center;
		display:block;
		color:$darkGreen;
		padding:5px 0 10px 0;
		border-bottom:2px solid $green;
		margin-bottom:20px;
	}


	ul{
		display:block;
		list-style:none;
		padding:0 20px 20px 20px;
		margin-left:0;
		overflow-y:scroll;
		overflow-x:visible;

		li{
			@extend .record;
		}
	}

	.list-bottom{
		background:$darkGreen;
	}


	.total{
		font-size: rem( 14px );
		color:#fff;
		text-align:center;
		padding:10px 0 ;
		display:block;
	}


	.add-record{
		display:block;
		padding:5px;
		input{
			@include box-sizing( border-box );
			width:80%;
			margin:0;
			padding:10px;
			display:inline-block;
			border:1px solid rgba(0,0,0,.5);

			@include placeholder(){
				color:$darkGreen;
			}

			&.amount{
				width:20%;
				border-left:0;
				float:right;
			}
		}

	}
}