$serif:georgia, serif;
$sans:"proxima-nova-alt";
$black:#222;
$beige:#f3f4ee;
$blue:#45c1d7;
$lightBlue:#7ad8e9;
$yellow:#ffc609;
$purple:#7e7ab5;

$green:#7AC247;
$lightGreen:#bce0a2;
$darkGreen:#558731;
$red:#9D3444;


$border-radius:4px;
$shadow:0 0 3px rgba(0,0,0,.3);
$border:2px solid papaya-whip;